# Owner
OWNER_NUMBER=51945879945

# Bot
BOT_NAME=Auralix
BOT_AUTHOR=Alexito
BOT_VERSION=1.0.0-preview

# Mods (comma-separated)
MODS=51945879945,51987654321

# Prefix (comma-separated for multiple)
PREFIX=@

# Log level: fatal | error | warn | info | debug | trace | silent
LOG_LEVEL=warn
